.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 300px;
}

.buttons {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.buttons button {
  display: flex;
  border: none;
  background: none;
  outline: 1px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cell {
  width: calc(50% - 5px);
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.btn-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.btn-container button {
  border: none;
  margin-left: 10px;
  color: white;
  width: 80px;
}

.delete-btn {
  background-color: rgb(172, 36, 36);
}

.edit-btn {
  background-color: rgb(92, 5, 92);
}

.save-btn {
  background-color: rgb(6, 82, 6);
}

.delete-btn:hover {
  background-color: rgb(160, 30, 30);
}

.edit-btn:hover {
  background-color: rgb(128, 10, 128);
}

.save-btn:hover {
  background-color: rgb(16, 131, 16);
}
